/** View Display **/
.ua-person-row {
    margin: 0 0 2rem;
}

.ua-person-row .ua-person-name {
    font-size: 1.4rem;
}

.ua-person-row .ua-person-job-titles {
    margin: 0 0 1rem;
}

.ua-person-row .ua-person-job-titles ul,
.ua-person-row .ua-person-phone ul {
    padding: 0;
    margin: 0;
}

.ua-person-row .ua-person-job-titles ul li,
.ua-person-row .ua-person-phone ul li {
    list-style-type: none;
}

@media screen and (min-width: 50em) {
    .ua-person-grid .ua-person-row {
        display: inline-block;
        vertical-align: top;
        width: 49%;
    }
}

@media screen and (min-width: 75em) {
    .ua-person-row:nth-child(3n+2) {
        margin-right: 4%;
        margin-left: 4%;
    }
    .ua-person-grid .ua-person-row {
        display: inline-block;
        vertical-align: top;
        width: 30%;
    }
}

/** Node Display **/
.node-ua-person .field-name-field-ua-person-titles {
    color: #49595e;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.2rem;
    padding-top: 1rem;
    border-top: 2px solid #EEF1F1;;
}

.node-ua-person .group-ua-person-contact-area {
    padding: 2rem 1.5rem;
    margin: 0 0 2rem;
    background: none 0 0 no-repeat scroll #EEF1F1;
}

.node-ua-person .group-ua-person-contact-area .field-name-field-ua-person-photo {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #B6BEC1;
    margin: 0 auto 1rem;
    text-align: center;
}

@media screen and (min-width: 50em) {
    .node-ua-person .group-ua-person-contact-area .field-name-field-ua-person-photo {
        padding-bottom: 0;
        border-bottom: 0 none;
        margin: 0 1.5rem 0 0;
        float: left;
        text-align: left;
    }
}